GeoIntegrasjon.Arkiv.Eksempel/Service References/ArkivInnsyn/giFellesFilter20120131.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:matrikkelutvidetns="http://rep.geointegrasjon.no/Matrikkel/Utvidet/xml.schema/2012.01.31" xmlns:fellesadressens="http://rep.geointegrasjon.no/Felles/Adresse/xml.schema/2012.01.31" xmlns:tns="http://rep.geointegrasjon.no/Felles/Filter/xml.schema/2012.01.31" xmlns:sakfaserns="http://rep.geointegrasjon.no/Sak/Faser/xml.schema/2012.01.31" xmlns:sakskjemans="http://rep.geointegrasjon.no/Sak/Skjema/xml.schema/2012.01.31" xmlns:arkivfellesns="http://rep.geointegrasjon.no/Arkiv/Felles/xml.schema/2012.01.31" xmlns:planfellesns="http://rep.geointegrasjon.no/Plan/Felles/xml.schema/2012.01.31" xmlns:felleskontaktns="http://rep.geointegrasjon.no/Felles/Kontakt/xml.schema/2012.01.31" xmlns:felleskodelistens="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2012.01.31" xmlns:matrikkelfellesns="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2012.01.31" xmlns:matrikkelbasisns="http://rep.geointegrasjon.no/Matrikkel/Basis/xml.schema/2012.01.31" xmlns:fellestekniskns="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2012.01.31" xmlns:arkivkjernens="http://rep.geointegrasjon.no/Arkiv/Kjerne/xml.schema/2012.01.31" xmlns:planutvidetns="http://rep.geointegrasjon.no/Plan/Utvidet/xml.schema/2012.01.31" xmlns:kartbasisns="http://rep.geointegrasjon.no/Kart/Basis/xml.schema/2012.01.31" xmlns:arkivdokumentns="http://rep.geointegrasjon.no/Arkiv/Dokument/xml.schema/2012.01.31" xmlns:planbasisns="http://rep.geointegrasjon.no/Plan/Basis/xml.schema/2012.01.31" xmlns:skjemabyggesakns="http://rep.geointegrasjon.no/Skjema/Byggesak/xml.schema/2012.01.31" xmlns:fellesgeometrins="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2012.01.31" xmlns:fellesfilterns="http://rep.geointegrasjon.no/Felles/Filter/xml.schema/2012.01.31" elementFormDefault="qualified" targetNamespace="http://rep.geointegrasjon.no/Felles/Filter/xml.schema/2012.01.31" version="2012.01.31 - GeoIntegrasjon v1.1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2012.01.31/giFellesGeometri20120131.xsd" namespace="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2012.01.31" />
  <xs:element name="AnsvarligEnumListe" type="fellesfilterns:AnsvarligEnumListe" />
  <xs:complexType name="AnsvarligEnumListe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="liste" type="fellesfilterns:AnsvarligEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AnsvarligEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EGEN" />
      <xs:enumeration value="EGENENHET" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SoekeOperatorEnumListe" type="fellesfilterns:SoekeOperatorEnumListe" />
  <xs:complexType name="SoekeOperatorEnumListe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="liste" type="fellesfilterns:SoekeOperatorEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SoekeOperatorEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LT" />
      <xs:enumeration value="LE" />
      <xs:enumeration value="EQ" />
      <xs:enumeration value="GE" />
      <xs:enumeration value="GT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BboxKriterie" type="fellesfilterns:BboxKriterie" />
  <xs:complexType name="BboxKriterie">
    <xs:complexContent mixed="false">
      <xs:extension base="fellesfilterns:Kriterie">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="bbox" type="fellesgeometrins:Bbox" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Ansvarlig" type="fellesfilterns:Ansvarlig" />
  <xs:complexType name="Ansvarlig">
    <xs:complexContent mixed="false">
      <xs:extension base="fellesfilterns:Kriterie">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="eier" type="fellesfilterns:AnsvarligEnum" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="KriterieListe" type="fellesfilterns:KriterieListe" />
  <xs:complexType name="KriterieListe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="liste" type="fellesfilterns:Kriterie" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Kriterie" type="fellesfilterns:Kriterie" />
  <xs:complexType name="Kriterie">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Soekefelt" type="fellesfilterns:Soekefelt" />
  <xs:complexType name="Soekefelt">
    <xs:complexContent mixed="false">
      <xs:extension base="fellesfilterns:Kriterie">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="feltnavn" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="feltverdi" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SoekskriterieListe" type="fellesfilterns:SoekskriterieListe" />
  <xs:complexType name="SoekskriterieListe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="liste" type="fellesfilterns:Soekskriterie" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Soekskriterie" type="fellesfilterns:Soekskriterie" />
  <xs:complexType name="Soekskriterie">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="operator" type="fellesfilterns:SoekeOperatorEnum" />
      <xs:element minOccurs="1" maxOccurs="1" name="Kriterie" type="fellesfilterns:Kriterie" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>