GeoIntegrasjon.Arkiv.Eksempel/Service References/ArkivInnsyn/giFellesAdresse20120131.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:matrikkelutvidetns="http://rep.geointegrasjon.no/Matrikkel/Utvidet/xml.schema/2012.01.31" xmlns:fellesadressens="http://rep.geointegrasjon.no/Felles/Adresse/xml.schema/2012.01.31" xmlns:sakfaserns="http://rep.geointegrasjon.no/Sak/Faser/xml.schema/2012.01.31" xmlns:sakskjemans="http://rep.geointegrasjon.no/Sak/Skjema/xml.schema/2012.01.31" xmlns:arkivfellesns="http://rep.geointegrasjon.no/Arkiv/Felles/xml.schema/2012.01.31" xmlns:planfellesns="http://rep.geointegrasjon.no/Plan/Felles/xml.schema/2012.01.31" xmlns:felleskontaktns="http://rep.geointegrasjon.no/Felles/Kontakt/xml.schema/2012.01.31" xmlns:felleskodelistens="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2012.01.31" xmlns:matrikkelfellesns="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2012.01.31" xmlns:fellesfilterns="http://rep.geointegrasjon.no/Felles/Filter/xml.schema/2012.01.31" xmlns:matrikkelbasisns="http://rep.geointegrasjon.no/Matrikkel/Basis/xml.schema/2012.01.31" xmlns:fellestekniskns="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2012.01.31" xmlns:arkivkjernens="http://rep.geointegrasjon.no/Arkiv/Kjerne/xml.schema/2012.01.31" xmlns:planutvidetns="http://rep.geointegrasjon.no/Plan/Utvidet/xml.schema/2012.01.31" xmlns:kartbasisns="http://rep.geointegrasjon.no/Kart/Basis/xml.schema/2012.01.31" xmlns:arkivdokumentns="http://rep.geointegrasjon.no/Arkiv/Dokument/xml.schema/2012.01.31" xmlns:planbasisns="http://rep.geointegrasjon.no/Plan/Basis/xml.schema/2012.01.31" xmlns:skjemabyggesakns="http://rep.geointegrasjon.no/Skjema/Byggesak/xml.schema/2012.01.31" xmlns:fellesgeometrins="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2012.01.31" xmlns:tns="http://rep.geointegrasjon.no/Felles/Adresse/xml.schema/2012.01.31" elementFormDefault="qualified" targetNamespace="http://rep.geointegrasjon.no/Felles/Adresse/xml.schema/2012.01.31" version="2012.01.31 - GeoIntegrasjon v1.1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2012.01.31/giFellesKodeliste20120131.xsd" namespace="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2012.01.31" />
  <xs:element name="EnkelAdressetypeListe" type="tns:EnkelAdressetypeListe" />
  <xs:complexType name="EnkelAdressetypeListe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="liste" type="tns:EnkelAdressetype" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnkelAdressetype" type="tns:EnkelAdressetype" />
  <xs:complexType name="EnkelAdressetype">
    <xs:complexContent mixed="false">
      <xs:extension base="felleskodelistens:Kode">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LandkodeListe" type="tns:LandkodeListe" />
  <xs:complexType name="LandkodeListe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="liste" type="tns:Landkode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Landkode" type="tns:Landkode" />
  <xs:complexType name="Landkode">
    <xs:complexContent mixed="false">
      <xs:extension base="felleskodelistens:Kode">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ElektroniskAdresseListe" type="tns:ElektroniskAdresseListe" />
  <xs:complexType name="ElektroniskAdresseListe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="liste" type="tns:ElektroniskAdresse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ElektroniskAdresse" type="tns:ElektroniskAdresse" />
  <xs:complexType name="ElektroniskAdresse">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="EnkelAdresseListe" type="tns:EnkelAdresseListe" />
  <xs:complexType name="EnkelAdresseListe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="liste" type="tns:EnkelAdresse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnkelAdresse" type="tns:EnkelAdresse" />
  <xs:complexType name="EnkelAdresse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="adressetype" type="tns:EnkelAdressetype" />
      <xs:element minOccurs="0" maxOccurs="1" name="adresselinje1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="adresselinje2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="postadresse" type="tns:PostadministrativeOmraader" />
      <xs:element minOccurs="0" maxOccurs="1" name="landkode" type="tns:Landkode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Epost" type="tns:Epost" />
  <xs:complexType name="Epost">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ElektroniskAdresse">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="epostadresse" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Faks" type="tns:Faks" />
  <xs:complexType name="Faks">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ElektroniskAdresse">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="faksnummer" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PostadministrativeOmraaderListe" type="tns:PostadministrativeOmraaderListe" />
  <xs:complexType name="PostadministrativeOmraaderListe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="liste" type="tns:PostadministrativeOmraader" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostadministrativeOmraader" type="tns:PostadministrativeOmraader" />
  <xs:complexType name="PostadministrativeOmraader">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="postnummer" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="poststed" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Telefon" type="tns:Telefon" />
  <xs:complexType name="Telefon">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ElektroniskAdresse">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="telefonnummer" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Meldingsboks" type="tns:Meldingsboks" />
  <xs:complexType name="Meldingsboks">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ElektroniskAdresse">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="tilbyder" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="meldingsboksadresse" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>