GeoIntegrasjon.Arkiv.Eksempel/Service References/ArkivOppdatering/giFellesKontakt20120131.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:matrikkelutvidetns="http://rep.geointegrasjon.no/Matrikkel/Utvidet/xml.schema/2012.01.31" xmlns:fellesadressens="http://rep.geointegrasjon.no/Felles/Adresse/xml.schema/2012.01.31" xmlns:tns="http://rep.geointegrasjon.no/Felles/Kontakt/xml.schema/2012.01.31" xmlns:sakfaserns="http://rep.geointegrasjon.no/Sak/Faser/xml.schema/2012.01.31" xmlns:sakskjemans="http://rep.geointegrasjon.no/Sak/Skjema/xml.schema/2012.01.31" xmlns:arkivfellesns="http://rep.geointegrasjon.no/Arkiv/Felles/xml.schema/2012.01.31" xmlns:planfellesns="http://rep.geointegrasjon.no/Plan/Felles/xml.schema/2012.01.31" xmlns:felleskodelistens="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2012.01.31" xmlns:matrikkelfellesns="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2012.01.31" xmlns:fellesfilterns="http://rep.geointegrasjon.no/Felles/Filter/xml.schema/2012.01.31" xmlns:matrikkelbasisns="http://rep.geointegrasjon.no/Matrikkel/Basis/xml.schema/2012.01.31" xmlns:fellestekniskns="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2012.01.31" xmlns:arkivkjernens="http://rep.geointegrasjon.no/Arkiv/Kjerne/xml.schema/2012.01.31" xmlns:planutvidetns="http://rep.geointegrasjon.no/Plan/Utvidet/xml.schema/2012.01.31" xmlns:kartbasisns="http://rep.geointegrasjon.no/Kart/Basis/xml.schema/2012.01.31" xmlns:arkivdokumentns="http://rep.geointegrasjon.no/Arkiv/Dokument/xml.schema/2012.01.31" xmlns:planbasisns="http://rep.geointegrasjon.no/Plan/Basis/xml.schema/2012.01.31" xmlns:skjemabyggesakns="http://rep.geointegrasjon.no/Skjema/Byggesak/xml.schema/2012.01.31" xmlns:fellesgeometrins="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2012.01.31" xmlns:felleskontaktns="http://rep.geointegrasjon.no/Felles/Kontakt/xml.schema/2012.01.31" elementFormDefault="qualified" targetNamespace="http://rep.geointegrasjon.no/Felles/Kontakt/xml.schema/2012.01.31" version="2012.01.31 - GeoIntegrasjon v1.1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://rep.geointegrasjon.no/Felles/Adresse/xml.schema/2012.01.31/giFellesAdresse20120131.xsd" namespace="http://rep.geointegrasjon.no/Felles/Adresse/xml.schema/2012.01.31" />
  <xs:import schemaLocation="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2012.01.31/giFellesKodeliste20120131.xsd" namespace="http://rep.geointegrasjon.no/Felles/Kodeliste/xml.schema/2012.01.31" />
  <xs:element name="PersonidentifikatorTypeListe" type="felleskontaktns:PersonidentifikatorTypeListe" />
  <xs:complexType name="PersonidentifikatorTypeListe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="liste" type="felleskontaktns:PersonidentifikatorType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonidentifikatorType" type="felleskontaktns:PersonidentifikatorType" />
  <xs:complexType name="PersonidentifikatorType">
    <xs:complexContent mixed="false">
      <xs:extension base="felleskodelistens:Kode">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="KontaktListe" type="felleskontaktns:KontaktListe" />
  <xs:complexType name="KontaktListe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="liste" type="felleskontaktns:Kontakt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Kontakt" type="felleskontaktns:Kontakt" />
  <xs:complexType name="Kontakt">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="navn" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="adresser" type="fellesadressens:EnkelAdresseListe" />
      <xs:element minOccurs="0" maxOccurs="1" name="elektroniskeAdresser" type="fellesadressens:ElektroniskAdresseListe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Organisasjon" type="felleskontaktns:Organisasjon" />
  <xs:complexType name="Organisasjon">
    <xs:complexContent mixed="false">
      <xs:extension base="felleskontaktns:Kontakt">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="organisasjonsnummer" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Person" type="felleskontaktns:Person" />
  <xs:complexType name="Person">
    <xs:complexContent mixed="false">
      <xs:extension base="felleskontaktns:Kontakt">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="personid" type="felleskontaktns:Personidentifikator" />
          <xs:element minOccurs="0" maxOccurs="1" name="etternavn" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="fornavn" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonidentifikatorListe" type="felleskontaktns:PersonidentifikatorListe" />
  <xs:complexType name="PersonidentifikatorListe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="liste" type="felleskontaktns:Personidentifikator" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Personidentifikator" type="felleskontaktns:Personidentifikator" />
  <xs:complexType name="Personidentifikator">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="personidentifikatorNr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="personidentifikatorType" type="felleskontaktns:PersonidentifikatorType" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>